:root {
  --primary-light-clr: #fff;
  --medium-light-clr: #eff6ff;
  --dark-bg-clr: #3b82f6;
  --outline-clr: #bfdbfe;
  --btn-hover-clr: #0284c7;
  --search-clr: #dbeafe;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  display: grid;
  grid-template: auto 4fr / 1fr 5fr;
  height: 100vh;
}

ul li {
  list-style: none;
}

input,
button {
  font: inherit;
}

.header {
  background-color: var(--primary-light-clr);
  grid-area: 1 / 2 / 2 / -1;
  display: grid;
  grid-template: auto 1fr / 2fr 1fr;
  padding: 0.5rem 1rem;
  box-shadow: 0px 4px 8px var(--outline-clr);
  z-index: 2;
  column-gap: 1rem;
}

.header .search-container,
.header .user-container,
.header .main-btn-container {
  display: flex;
  align-items: center;
}

.welcome-container {
  display: grid;
  grid-template: auto auto / auto 2fr;
  gap: 0.25rem;
}

.welcome-container .welcome-msg {
  align-self: end;
  font-weight: bold;
  font-size: 0.9rem;
}

.welcome-container .user-name {
  font-size: 1.4rem;
}

.welcome-container .user-profile-img-lg {
  grid-row: 1 / span 2;
  width: 100%;
  height: 100%;
  grid-column: 1;
}

.search-container label {
  margin-right: 0.5rem;
  display: flex;
}

.search-container input[type='text'] {
  width: 50vw;
  border: none;
  border-radius: 1rem;
  padding-left: 0.75rem;
  background-color: var(--search-clr);
  height: 1.75rem;
  font-size: 1.2rem;
  outline-color: var(--outline-clr);
}

.header img,
.nav-links img,
.project-interaction img {
  height: 24px;
}

.header .user-container .user-profile-img {
  height: 100%;
}

.header .welcome-container .user-profile-img-lg {
  height: 100%;
}

.header .user-container {
  gap: 1rem;
  justify-content: center;
}

.user-container .notification:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.user-container .notification:active {
  transform: scale(1);
}

.header .main-btn-container {
  justify-content: center;
  gap: 2rem;
}

.main-btn-container .main-btn {
  aspect-ratio: 3 / 1;
  width: 6.5rem;
  background-color: var(--dark-bg-clr);
  color: var(--primary-light-clr);
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
}

.main-btn-container .main-btn:hover {
  cursor: pointer;
  background-color: var(--btn-hover-clr);
}

.main-btn-container .main-btn:active {
  transform: scale(0.95);
}

.sidebar {
  background-color: var(--dark-bg-clr);
  color: var(--primary-light-clr);

  grid-area: 1 / 1 / -1 / 1;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
}

.sidebar .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
}

.sidebar .logo img {
  height: 48px;
}

.sidebar .nav-links {
  margin-top: 2rem;
  margin-left: 0.5rem;
}

.nav-links ul li {
  display: flex;
  gap: 1rem;
  height: 3rem;
  font-weight: bold;
  font-size: 1.2;
}

.nav-links ul li:nth-child(7) {
  margin-top: 3rem;
}

.nav-links ul li:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  background-color: var(--medium-light-clr);
  padding: 2rem 1rem;
}

.container .projects {
  grid-area: 1 / 1 / -1 / 2;
}

.container .sidebar-right {
  grid-area: 1 / 2 / -1 / 2;
}

.projects {
  display: grid;
  grid-template-rows: auto;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
}

.projects .projects-heading {
  grid-column: 1 / -1;
  font-size: 1.4rem;
  margin-bottom: -1rem;
}

.projects .project-card {
  background-color: var(--primary-light-clr);
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px 2px var(--outline-clr);
  transition: transform 0.1s ease-in-out;
}

.projects .project-card:hover {
  transform: scale(1.02);
}

.projects .project-card .color-bar {
  grid-column: 1;
  grid-row: 1 / 5;
  background-color: orange;
  width: 0.75rem;
  border-radius: 0.5rem 0 0 0.5rem;
}

.projects .project-card .project-title {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.projects .project-card .project-text {
  grid-column: 2;
  grid-row: 1 / -1;
  padding: 1rem;
}

.projects .project-card .project-text p {
  opacity: 0.7;
}

.project-card .project-interaction {
  grid-column: 2;
  justify-self: end;
  padding: 1rem;
}

.project-card .project-interaction > img {
  padding-right: 1rem;
}

.project-card .project-interaction > img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.project-card .project-interaction > img:active {
  transform: scale(1);
}

.sidebar-right {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin: 0 1rem;
}

.sidebar-right .announcements,
.sidebar-right .trending {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar-right .announcements > h4,
.sidebar-right .trending > h4 {
  font-size: 1.4rem;
  margin-bottom: -1rem;
}

.sidebar-right .announcement-container,
.sidebar-right .trending-container {
  background-color: var(--primary-light-clr);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px 2px var(--outline-clr);
}

.announcement-container .announce {
  padding: 1rem 0;
}

.announcement-container .announce h6 {
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}

.announcement-container .announce p {
  /* font-weight: lighter; */
  opacity: 0.7;
  font-size: 0.9rem;
}

.trending-container .trend {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  gap: 1rem;
}

.trending-container .trend .user-handle {
  font-weight: 500;
  font-size: 0.9rem;
}

.trending-container .trend .trending-project {
  opacity: 0.7;
  font-size: 0.9rem;
}

.footer {
  grid-area: -1 / 1 / -1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

.filter-white {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(139deg)
    brightness(103%) contrast(101%);
}
